# Reference: https://docs.docker.com/reference/compose-file/
name: ai-chatbot

services:
  ollama:
    container_name: ollama
    hostname: ollama
    image: ollama/ollama:0.6.3

  devcontainer:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
    command: bash -c "sleep infinity"
    container_name: devcontainer
    cpus: 4.00
    environment:
      VITE_APP_BASE_API_URL: http://localhost:8000/api
    ports:
      - 5173:5173 # frontend (vite)
      - 8000:8000 # backend (fastapi)
    volumes:
      - ..:/workspaces/ai-chatbot
    working_dir: /workspaces/ai-chatbot
